<html>
    <header>
        <meta charset="utf-8">
        <title>Eat-Da-Burger</title>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="/public/assets/js/burger.js"></script>
        <!--<link href="../../public/assets/css/burger_style.css" rel="stylesheet">-->
    </header>
    <body>
        {{{body}}}
    </body>
</html>