<!--add the burger image-->
<div class="text-center">
    <img src="/public/image/burger.png" alt="burger" width="20%" height="auto">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 columnLeft">
            {{#each burgers}}
            {{#if devoured}}
            <!--do nothing-->
            {{else}}
            {{> burgers/burger-block devour=true}}
            {{/if}}
            {{/each}}
        </div>
        <div class="col-md-6 columnRight">
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devour=false}}
            {{else}}
            <!--do nothing-->
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
<div class="container burgerForm">
    Feel like a burger? Add it to the list!
    <form id="addBurger">
        <textarea name="burger" placeholder="add a burger here"></textarea>
        <button type="submit">Add the burger!</button>
    </form>
</div>