<li>
    {{name}}
    
    {{#if devour}}
        <button class="devourBurger" data-id="{{id}}" data-devoured="{{devour}}">
            Devour!
        </button>
    {{else}}
        <!--do nothing-->
    {{/if}}
</li>